---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
const path = import.meta.env.PUBLIC_URL;
---

<Layout background="blue">
    <section class="banner banner--docs">
        <Header></Header>
        <h2>Documentations</h2>
    </section>

    <div class="docs">
        <ul class="docs__list">
            <li class="docs__item">
                <a href="#">Privacy Policy</a>
            </li>
            <li class="docs__item">
                <a href="#">Privacy Policy</a>
            </li>
            <li class="docs__item">
                <a href="#">Privacy Policy</a>
            </li>
            <li class="docs__item">
                <a href="#">Privacy Policy</a>
            </li>
        </ul>
    </div>


</Layout>