---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import Card from "../components/Card.astro"
import data from "../data.json"
const path = import.meta.env.PUBLIC_URL;
---

<Layout background="green">
    <section class="banner banner--products">
        <Header></Header>
        <h2>All products</h2>
    </section>

    <div class="catalog">
        <ul class="catalog__list">
            {data.map((item, index) => (
                    <Card id={item.id} title={item.title} colors={item.colors}></Card>
            ))}
        </ul>
    </div>
</Layout>