---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
const path = import.meta.env.PUBLIC_URL;
---

<Layout>
    <section class="banner banner--policy">
        <Header></Header>
        <h2>Warranty Info</h2>
    </section>

    <div class="info">
        <a href=`${path}assets/img/warranty-card.jpg` target="_blank">
        <img class="info-image" src=`${path}assets/img/warranty-card.jpg` alt="warranty card">
        </a>
    </div>
</Layout>