.banner {
    width: 100%;
    border-bottom-left-radius: 48px;
    border-bottom-right-radius: 48px;
    height: 420px;
    position: relative;

    & h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--color-white-1);
        width: 100%;
    }
}

.banner--products {
    background-image: url("../assets/img/banner-products.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.banner--docs {
    background-image: url("../assets/img/banner-docs.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.banner--news {
    background-image: url("../assets/img/banner-news.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.banner--policy {
    background-image: url("../assets/img/banner-policy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (min-width: 1152px) {
    .banner {
        padding-top: 32px;
    }
}