.catalog {
    margin: 0 16px;
    padding-top: 20px;
    padding-bottom: 74px;
}

.catalog__list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.catalog__item {
    width: calc(50% - 4px);
    border: 1px solid var(--color-green-1);
    background-color: var(--color-white-1);
    border-radius: 16px;
    transition: all 0.4s ease;

    &:hover {
        border-color: var(--color-white-1);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}

.catalog__item a {
    padding: 24px 0;
    display: block;
    color: var(--color-white-4);
    text-decoration: none;
}

.catalog__item-img {
    max-width: 200px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.catalog__item-info-container {
    padding: 10px 24px 0;

    & h4 {
        text-align: center;
        font-size: 21px;
        height: 55px;
        margin-bottom: 10px;
        transition: all ease 0.4s;
    }
}

.catalog__item[data-color="pink"]:hover h4 {
    color: var(--color-pink-3);
}

.catalog__item[data-color="blue"]:hover h4 {
    color: var(--color-blue-3);
}

.catalog__item[data-color="green"]:hover h4 {
    color: var(--color-green-3);
}

.catalog__item-features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        gap: 8px;
        flex-shrink: 0;
    }

    & span {
        font-weight: 400;
        font-size: 14px;
    }
}

.catalog__item-color {
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 50%;
}

.catalog__item-color--pink {
    background: var(--color-pink-1);
}

.catalog__item-color--blue {
    background: var(--color-blue-1);
}

.catalog__item-color--green {
    background: var(--color-green-1);
}

.catalog__item-features span {
    display: block;
    min-width: 85px;
    font-size: 14px;
}

@media (min-width: 1152px) {
    .catalog {
        max-width: 1120px;
        margin: 0 auto;
        padding: 64px 0 145px;
    }

    .catalog__list {
        gap: 6px 32px;
    }

    .catalog__item {
        width: calc(25% - 24px);
        border-radius: 32px;
        padding: 24px 28px;

        a {
            padding: 0;
        }
    }

    .catalog__item-info-container {
        padding: 0;

        & h4 {
            margin: 23px auto;
            font-size: 24px;
            height: 62px;
        }
    }


}
