.header__partners {
    background-color: #000;
    padding: 13px 24px;
    width: 100%;
}

.header__companies {
    color: var(--color-base);
    font-size: 18px;
}

.active.header__partners-list {
    display: block;
}

.header__partners-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
}

.header__partners-item {
    display: block;
}

.header__partners-item img {
    display: none;
}

.header__partners-item a {
    text-decoration: none;
    color: var(--color-base);
    padding: 8px;
}

.partners-block {
    display: flex;

    img {
        max-width: 100%;
    }
}

@media (max-width: 1024px) {
    .partners-block {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0 20px !important;

        a {
            padding: 8px 12px !important;
        }

        a.cemglobal {
            border: none !important;
        }
    }
}

@media (max-width: 525px) {
    .partners-block {
        padding: 0 10px !important;

        a {
            padding: 4px 8px !important;
        }

        a.cemglobal {
            border: none !important;
        }
    }
}

@media (min-width: 1152px) {
    .header__partners-list,
    .active.header__partners-list {
        display: flex;
        padding: 0 24px;
        justify-content: space-between;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }

    .header__partners {
        padding: 0;
    }

    .header__partners-item--current {
        background-color: var(--color-pink-3);
    }

    .header__companies {
        display: none;
    }

    .header__partners-item {
        height: auto;
        width: 12.5%;
    }

    .header__partners-item a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        padding: 16px 8px;
        opacity: 1;
        transition: all 0.4s ease;
    }

    .header__partners-item:not(.header__partners-item--current) a:hover {
        opacity: 0.6;
    }

    .header__partners-item span {
        display: none;
    }

    .header__partners-item img {
        display: block;
    }
}
