.product-header {
    margin-bottom: 32px;
}

.product-image {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 16px;
}

.product-link {
    font-weight: 400;
    font-size: 16px;
    color: var(--color-white-4);
    display: block;
    margin: 0 16px 16px;
    padding-left: 20px;
    position: relative;

    &::before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='9' viewBox='0 0 9 9' fill='none'%3E%3Cpath d='M0.646446 4.14645C0.451184 4.34171 0.451184 4.65829 0.646446 4.85355L3.82843 8.03553C4.02369 8.2308 4.34027 8.2308 4.53553 8.03553C4.7308 7.84027 4.7308 7.52369 4.53553 7.32843L1.70711 4.5L4.53553 1.67157C4.7308 1.47631 4.7308 1.15973 4.53553 0.964466C4.34027 0.769204 4.02369 0.769204 3.82843 0.964466L0.646446 4.14645ZM9 4L1 4V5L9 5V4Z' fill='%23171717'/%3E%3C/svg%3E");
        width: 9px;
        height: 9px;
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
}


@media (min-width: 1152px) {
    .product-header {
        padding-top: 32px;
        margin-bottom: 24px;
    }

    .product-image {
        max-width: 1120px;
        margin: 0 auto 90px;
    }

    .product-link {
        margin: 0 auto 36px;
        max-width: 1120px;
    }
}